<div class="ctrl-modal">
  <div>新建/编辑埋点</div>
  <hr>
  <form class="ctrl-modal-form" onsubmit="return false;">
    <dl>
      <dt>事件名称</dt>
      <dd><input name="event_name" type="text"></dd>
      <dt>事件类型</dt>
      <dd>
        <label>
          <input name="event_type" value="click" type="checkbox">
          点击
        </label>
        <label>
          <input name="event_type" value="view" type="checkbox">
          曝光
        </label>
      </dd>
      <dt>可选属性</dt>
      <dd>
        <% Object.entries(optionalAttr).forEach((pair) => { %>
          <label>
            <input name="custom" value="<%= pair[0] %>" type="checkbox">
            <%= pair.join(': ') %>
          </label>
          <br/>
        <% }) %>
      </dd>
    </dl>
    <hr>
    <div class="ctrl-modal-footer">
      <button type="button" name="cancel">取消</button>
      <input type="submit" value="确定">
    </div>
  </form>
</div>
